@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.colorBackground {
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(circle at 71% 77%,
      var(--color-gradient-1) 0,
      transparent 35%),
    radial-gradient(ellipse at 36% 47%, var(--color-gradient-3) 0, transparent 42%),
    radial-gradient(circle at 54% 29%, var(--color-gradient-3) 0, transparent 38%),
    radial-gradient(ellipse at 45% 51%, var(--color-gradient-1) 0, transparent 45%),
    radial-gradient(circle at 73% 44%, var(--color-gradient-2) 0, transparent 48%),
    radial-gradient(ellipse at 24% 7%, var(--color-gradient-2) 0, transparent 45%),
    radial-gradient(circle at 76% 46%, var(--color-gradient-1) 0, transparent 40%);
  background-size: 300% 300%;
  animation: moveGradient 25s ease-in-out infinite;
  max-height: 800px;
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  filter: blur(54px);
  z-index: -1;
  position: fixed;
  top: 0;
}

.colorBackgroundBottom {
  left: 50%;
  transform: translateX(-50%) rotate(165deg);
  background: radial-gradient(ellipse at 83% 25%,
      var(--color-gradient-1) 0,
      transparent 38%),
    radial-gradient(circle at 36% 47%, var(--color-gradient-3) 0, transparent 45%),
    radial-gradient(ellipse at 79% 45%, var(--color-gradient-3) 0, transparent 42%),
    radial-gradient(circle at 66% 38%, var(--color-gradient-1) 0, transparent 48%),
    radial-gradient(ellipse at 89% 13%, var(--color-gradient-2) 0, transparent 44%),
    radial-gradient(circle at 24% 7%, var(--color-gradient-2) 0, transparent 45%),
    radial-gradient(ellipse at 76% 46%, var(--color-gradient-1) 0, transparent 42%);
  background-size: 300% 300%;
  animation: moveGradient 30s ease-in-out infinite;
  height: 100vh;
  max-width: 900px;
  width: 100%;
  filter: blur(54px);
  z-index: -1;
  position: fixed;
  bottom: 0;
}